%{erl_opts, [debug_info, warnings_as_errors]}.

{erl_opts, [debug_info,
            %% NO - this is not really what I want - I want these files
            %% to be compiled into priv/
            {src_dirs, ["src", "plugins"]}]}.

%% prevent stupid rebar from deleting our "yanger" file.
{escript_name, "dummy"}.


{port_specs, [{"priv/yang_parser_nif.so",
               ["c_src/*.c"]}]}.

%% older rebar
{port_envs, [{"CC", "gcc -std=c99"},
             {"CFLAGS",
%% how do I do ifdef DEBUG?  else O2.
              "$CFLAGS -g -ggdb "
              "-I /usr/include/libxml2 "
              "-Werror "
              "-Wall "
              "-Wsign-compare "
              "-Wstrict-prototypes "
              "-Wpointer-arith "
              "-Wcast-align "
              "-Wwrite-strings "
              "-Wnested-externs "
%              "-Wuninitialized "
             },
              {"LDFLAGS", "$LDFLAGS -lxml2 "}
              ]}.

%% newer rebar
{port_env, [{"CC", "gcc -std=c99"},
            {"CFLAGS",
%% how do I do ifdef DEBUG?  else O2.
              "$CFLAGS -g -ggdb "
              "-I /usr/include/libxml2 "
              "-Werror "
              "-Wall "
              "-Wsign-compare "
              "-Wstrict-prototypes "
              "-Wpointer-arith "
              "-Wcast-align "
              "-Wwrite-strings "
              "-Wnested-externs "
%              "-Wuninitialized "
              },
              {"LDFLAGS", "$LDFLAGS -lxml2 "}
              ]}.


