%% -*- mode: Erlang -*-

%{erl_opts, [debug_info, warnings_as_errors]}.
{erl_opts, [debug_info
            , {src_dirs, ["src"]}
           ]}.


%% A plugin that compiles Yanger plugins
{plugins, [yanger_plugins_rebar_plugin]}.
{plugin_dir, "./build"}.


%% Prevent rebar from deleting our "yanger" file.
{escript_name, "dummy"}.


%% Parser as a NIF
{port_specs, [{"priv/yang_parser_nif.so",
               ["c_src/*.c"]}]}.


%% newer rebar
{port_env, [{"CC", "gcc -std=c99"},
            {"CFLAGS",
%% how do I do ifdef DEBUG?  else O2.
              "$CFLAGS -g -ggdb "
              "-I /usr/include/libxml2 "
              "-Werror "
              "-Wall "
              "-Wsign-compare "
              "-Wstrict-prototypes "
              "-Wpointer-arith "
              "-Wcast-align "
              "-Wwrite-strings "
              "-Wnested-externs "
%              "-Wuninitialized "
              },
              {"LDFLAGS", "$LDFLAGS -lxml2 "}
              ]}.

