%{erl_opts, [debug_info, warnings_as_errors]}.
{erl_opts, [debug_info]}.

{port_specs, [{"priv/yang_parser_nif.so",
               ["c_src/*.c"]}]}.

%% older rebar
{port_envs, [{"CC", "gcc -std=c99"},
             {"CFLAGS",
%% how do I do ifdef DEBUG?  else O2.
              "$CFLAGS -g -ggdb "
              "-Werror "
              "-Wall "
              "-Wsign-compare "
              "-Wstrict-prototypes "
              "-Wpointer-arith "
              "-Wcast-align "
              "-Wwrite-strings "
              "-Wnested-externs "
              "-Wuninitialized "}]}.

%% newer rebar
{port_env, [{"CC", "gcc -std=c99"},
            {"CFLAGS",
%% how do I do ifdef DEBUG?  else O2.
              "$CFLAGS -g -ggdb "
              "-Werror "
              "-Wall "
              "-Wsign-compare "
              "-Wstrict-prototypes "
              "-Wpointer-arith "
              "-Wcast-align "
              "-Wwrite-strings "
              "-Wnested-externs "
              "-Wuninitialized "}]}.


